[berlin]
.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.berkshelf
.bundler
.cache
.cups
.gem
.git
# .gitignore
# .gvimrc
.lesshst
.ssh
.subversion
.vagrant.d
.vim
.vimfuzzyfinder
.viminfo
# .vimrc
.zsh_history
# .zshrc
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox VMs
brewfile
homedir
memos
mymemo.txt
private.xml
sandbox
work

[hoshino]
# .gitconfig
.guard_history
.heroku
.mongorc.js
.pry_history
.rediscli_history
.zcompdump
.zshenv
Vagrant
# brewfile
repos
.cups/
Applications/
memos/
sandbox/
work/
