[user]
  email = guitarpopnot330@gmail.com
  name = hoshinotsuyoshi
[alias]
  st = status -s
  cdiff = diff --word-diff=color --word-diff-regex=.
  co = checkout
  cv = commit -v
[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = /Users/hoshino/.gitignore_global
[push]
  default = matching
[init]
  templatedir = ~/.git_template
