[berlin]
.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.berkshelf
.bundler
.cache
.cups
.dbshell
.gem
.git
# .gitignore
# .gvimrc
.lesshst
.ssh
.subversion
.vagrant.d
.vim
.vimfuzzyfinder
.viminfo
# .vimrc
.zsh_history
# .zshrc
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox VMs
brewfile
homedir
memos
mymemo.txt
sandbox
work
.gitconfig.local

[hoshino]
# .gitconfig
.guard_history
.heroku
.pry_history
.rediscli_history
.zcompdump
.zshenv
Vagrant
repos
Applications/
work/
.rbenv
vendor/bundle


.boot2docker/
.config/
.docker/
.esets/
.gsutil/
.node-gyp/
.npm/
.z
go/
google-cloud-sdk/
*.local.yml
.ecs
